.navLink {
  text-decoration: none;
  font-size: 18px;
  color: #000;
  margin-right: 10px;
  font-weight: 700;
  padding: 25px;
}

.navLinkActive {
  color: #0400ff;
  font-weight: bold;
}
.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #d3e0f4;
  padding: 20px 0;
}

.themeToggle svg {
  color: #2b00ff;
}
